*.pyc
__pycache__/
*.egg-info/
dist/
build/
*.charm
_build/
.tox/
venv/
.venv/
*.swp
*.swo
*~
.idea/
.vscode/
uv.lock
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
